.app-card-outer {
  background-color: var(--bg3);
  width: 128px;
  margin: 16px;
  align-items: center;
  border-radius: 4px;
  transition: ease 0.3s;
  box-shadow: var(--bg0) 0px 4px 6px, var(--bg0) 0px 5px 7px;
}

.app-card-outer:hover {
  background-color: var(--bg5);
  transform: scale(105%);
}

.app-card-outer a {
  color: var(--green);
}

.app-card-terminal-emulator a {
  color: var(--blue);
}

.app-card-other a {
  color: var(--red);
}

.app-card-inner {
  padding: 8px;
  border-radius: 4px;
  height: 100%;
}

.app-icon {
  width: 64px;
  margin-top: 4px;
  color: var(--bg0);
}

.app-card-outer:hover .app-icon {
  /* filter: grayscale(); */
}

p {
  font-weight: bold;
}

img:hover {
  fill: red;
}
