/* Styles for base components. */

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg1);
    color: var(--fg);
    text-align: center;
}

a, a:visited {
    color: var(--red);
    text-decoration: none;
    border-radius: 0.1em;
}

a:hover, .Nav a:active {
    background-color: var(--bg2);
    color: var(--fg);
    transition: ease 0.5s;
}


.appsContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
}